<div class="d-flex mx-auto mt-5" style="width: 600px;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Contact</th>
          <th scope="col-xl">Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="students">
          <tr *ngFor="let student of students">
            <th scope="row">{{student.id}}</th>
            <td>{{student.name}}</td>
            <td>{{student.email}}</td>
            <td>{{student.contact_number}}</td>
            <td class="d-flex gap-2">
              <button (click)="navigateStudent(student.id)" class="btn btn-primary">View</button>
              <button (click)="editStudent(student.id)" class="btn btn-warning">Edit</button>
              <button (click)="deleteStudent(student.id)" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>