<div class="mx-5">
    <!-- <button class="btn-secondary btn my-5">{{editOrCreateMode}}</button> -->
    <form #studentForm="ngForm" (ngSubmit)="studentSubmitForm(studentForm)" >
        <span class="text-success text-center" *ngIf="isSuccessCreateStudent">
          Successful create student with name: {{studentForm.value.name}}
        </span>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name:</label>
            <input [(ngModel)]="students.name" type="text" class="form-control" id="exampleFormControlInput1" name="name">
            <!-- <input value="{{studentName}}" type="text" class="form-control" id="exampleFormControlInput1"> -->
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email:</label>
            <input [(ngModel)]="students.email" type="email" class="form-control" id="exampleFormControlInput1" name="email">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Contact Number:</label>
            <input [(ngModel)]="students.contact_number" type="text" class="form-control" id="exampleFormControlInput1" name="contactNumber">
          </div>
          <button type="submit" class="mt-2 btn btn-primary">{{isCreateMode ? 'Create Student' : 'Update Student'}}</button>
          <!-- <button (click)="onPassAnotherName()" class="mt-2 btn btn-primary">Create Student</button> -->
    </form>
</div>