<div>
    <form class="mx-5 text-start" style="width: 500px;">
        <h3 class="mb-5 mt-5">Register</h3>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email:</label>
            <input type="email" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password:</label>
            <input type="password" class="form-control" id="exampleFormControlInput1">
        </div>
        <button class="btn btn-primary">Login</button>
    </form>
</div>